h1{
    font-size: 50px;
}
h2{
    color:midnightblue;
}
p{
    color:dimgray;
}
body{
    font-family: 'Poppins', sans-serif;
    margin-top: 0px;
    margin-left: 0px;
}
.name-highlighter{
    color: orange;
}
.dream-highlighter{
    color:lawngreen;

}
.half-width{
    width: 40%;
    float:left;
    margin-left:2%;
    padding-left:3%;
    
}
.half-width img{
    width:100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    border:1px solid whitesmoke;
    background-repeat: no-repeat;
}
section{
    height:700px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon,tomato );
    color:seashell;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}
.Dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.experience-color{
    color:maroon;
}
.single-experience{
    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;
    height: 50%;
    margin-left: 60px;
    background-color: white;
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;

}
#full-stack{
    border-left: 7px solid ;
    border-image: linear-gradient(180deg, salmon,tomato);
    border-image-slice:1;
   

}
#baby-web{
    border-left: 7px solid;
    border-image:linear-gradient(180deg, blue,cyan);
    border-image-slice:1;

}
footer p{
     text-align: center;
     font-size: 10px;
}
